<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/x-icon" th:href="@{/assets/images/Amaterasu3_removebg.png}">
	<title>Atemarasu-Admin</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
	<link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
	<link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
	<!-- Custom CSS -->
	<link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="product-ctrl" ng-init="initializeEditPage()">

	<span th:insert="~{Admin/common/header.html}"></span>
	<span th:insert="~{Admin/common/menu.html}"></span>
	<div class="page-wrapper">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
										data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
										aria-selected="true">Edit</button>
									<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
										data-bs-target="#nav-profile" type="button" role="tab"
										aria-controls="nav-profile" aria-selected="false">List</button>
								</div>
							</nav>
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
									aria-labelledby="nav-home-tab">
									<h4 class="card-title">Quản lý sản phẩm</h4>
									<div id="successMessage" style="color: red; display: none;"></div>
									<form name="productForm" novalidate>
										<div class="row">
											<div class="col-sm-4">
												<img style="height: 450px; width: 450px;" class="border border-5"
													ng-src="{{'/assets/images/product/' + form.image}}">
											</div>
											<div class="col-sm-8">
												<div class="row">
													<div class="col">
														<span>ID sản phẩm:</span> <input ng-model="form.id" type="text"
															class="form-control" placeholder="ID" disabled="true"><br>
														<span>Tên sản phẩm:</span>
														<input ng-model="form.name" name="productName" type="text"
															class="form-control" placeholder="Tên sản phẩm" required>
														<div
															ng-show="productForm.productName.$dirty && productForm.productName.$invalid">
															<span ng-show="productForm.productName.$error.required"
																style="color: red;">Tên sản phẩm là trường bắt
																buộc.</span>
														</div><br>
														<span>Giá sản phẩm:</span>
														<input ng-model="form.price" name="productPrice" type="text"
															class="form-control" placeholder="Giá sản phẩm" required>
														<div
															ng-show="productForm.productPrice.$dirty && productForm.productPrice.$invalid">
															<span ng-show="productForm.productPrice.$error.required"
																style="color: red;">Giá sản phẩm là trường bắt
																buộc.</span>
														</div><br>
														<div class="">
															<label class="">Tình trạng: </label>
															<div class="">
																<input ng-model="form.available" type="radio"
																	ng-value="true" /> Active <input
																	ng-model="form.available" type="radio"
																	ng-value="false" />
																Inactive
															</div>
														</div>
														<br>
														<div class="">
															<span>Hình ảnh: </span> <input type="file" id="image"
																class="form-control w-50"
																onchange="angular.element(this).scope().imageChanged(this.files)" />
														</div>
													</div>
													<div class="col">
														<span>Ngày tạo:</span><input ng-model="form.createDate"
															type="date" class="form-control"><br>
														<span>Loại:</span><select ng-model="form.category.id"
															class="form-control">
															<option ng-repeat="c in cates" ng-value="c.id">{{c.name}}
															</option>
														</select><br> <span>Thương hiệu:</span><select
															ng-model="form.brand.id" class="form-control">
															<option ng-repeat="b in bras" ng-value="b.id">{{b.name}}
															</option>
														</select><br> <span>Mô tả: </span>
														<textarea rows="" cols="" class="form-control"
															ng-model="form.describe"></textarea>
														<span>Số lượng tồn kho: </span><input ng-model="form.tonKho"
															class="form-control">
													</div>
												</div>

												<div>
													<hr>
													<div class="">
														<button ng-click="create()"
															class="btn btn-outline-primary mx-2">
															<i class="bi bi-plus-circle"></i> Thêm mới
														</button>
														<button ng-click="update()"
															class="btn btn-outline-success mx-2">
															<i class="bi bi-upload"></i> Cập nhật
														</button>
														<button ng-click="delete(form)"
															class="btn btn-outline-danger mx-2">
															<i class="bi bi-x-circle"></i> Xoá
														</button>
														<button ng-click="reset()" class="btn btn-outline-light mx-2">
															<i class="bi bi-arrow-clockwise"></i> Làm mới
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="tab-pane fade" id="nav-profile" role="tabpanel"
									aria-labelledby="nav-profile-tab">
									<h4>Danh sách sản phẩm</h4>
									<table class="table table-bordered" border-collapse="collapse">
										<thead>
											<tr>
												<th scope="col">Action</th>
												<th scope="col">Ảnh</th>
												<th scope="col">Tên</th>
												<th scope="col">Giá</th>
												<th scope="col">Ngày tạo</th>
												<th scope="col">Loại</th>
												<th scope="col">Thương hiệu</th>
												<th scope="col">Tình trạng</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in pager.items">
												<td>
													<button ng-click="edit(item)" class="btn btn-outline-primary">
														<i class="bi bi-pencil"></i>
													</button>
													<button ng-click="delete(item)" class="btn btn-outline-danger mx-2">
														<i class="bi bi-x-circle"></i>
													</button>
												</td>
												<td><img style="height: 50px; width: 50px;" class="border border-5"
														ng-src="{{'/assets/images/product/' + item.image}}">
												</td>
												<td>{{item.name}}</td>
												<td>{{item.price}} VNĐ</td>
												<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
												<td>{{item.category.name}}</td>
												<td>{{item.brand.name}}</td>
												<td style="color: green;">{{item.available?'Available':'Inavailable'}}
												</td>
											</tr>
										</tbody>
									</table>
									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center">
											<li class="page-item">
												<button ng-click="pager.first()" class="page-link">First</button>
											</li>
											<li class="page-item">
												<button ng-click="pager.prev()" class="page-link">Previous</button>
											</li>
											<li class="page-item"><span style="color: black;"
													class="page-link bg-primary">{{pager.page + 1}} of
													{{pager.count}}</span></li>
											<li class="page-item">
												<button ng-click="pager.next()" class="page-link">Next</button>
											</li>
											<li class="page-item">
												<button ng-click="pager.last()" class="page-link">Last</button>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- apps -->
	<!-- apps -->
	<script th:src="@{/dist/js/app-style-switcher.js}"></script>
	<script th:src="@{/dist/js/feather.min.js}"></script>
	<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/dist/js/sidebarmenu.js}"></script>
	<!--Custom JavaScript -->
	<script th:src="@{/dist/js/custom.min.js}"></script>
	<!--This page JavaScript -->
	<script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
	<script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
	<script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
	<script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
	<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
	<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
	<script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>
	<script th:src="@{/js/product.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>