<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/x-icon"
	th:href="@{/assets/images/Amaterasu3_removebg.png}">
<title>Atemarasu-Admin</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<!-- Custom CSS -->
<link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
<link th:href="@{/assets/libs/chartist/dist/chartist.min.css}"
	rel="stylesheet">
<link
	th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}"
	rel="stylesheet" />
<!-- Custom CSS -->
<link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="order-ctrl">

	<span th:insert="~{Admin/common/header.html}"></span>
	<span th:insert="~{Admin/common/menu.html}"></span>
	<div class="page-wrapper">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<button class="nav-link active" id="nav-home-tab"
										data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
										role="tab" aria-controls="nav-home" aria-selected="true">List</button>
									<button class="nav-link" id="nav-profile-tab"
										data-bs-toggle="tab" data-bs-target="#nav-profile"
										type="button" role="tab" aria-controls="nav-profile"
										aria-selected="false">Edit</button>
								</div>
							</nav>
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-home"
									role="tabpanel" aria-labelledby="nav-home-tab">
                                    <h4>Danh sách đơn hàng</h4>
									<table class="table table-bordered" border-collapse="collapse">
										<thead>
											<tr>
												<th scope="col">Action</th>
												<th scope="col">ID</th>
												<th scope="col">Mã Đơn Hàng</th>
												<th scope="col">Ngày tạo</th>
												<th scope="col">Trạng Thái</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in pager.items">
												<td class="w-25">
													<button ng-click="edit(item)" class="btn btn-outline-primary"><i
														class="bi bi-pencil"></i> Edit</button>
												<button ng-click="delete(item)" class="btn btn-outline-danger"><i
														class="bi bi-x-circle"></i> Delete</button>
												</td>
												<td>{{item.id}}</td>
												<td>{{item.maDH}}</td>
												<td>{{item.createDate | date:'dd-MM-yyyy'}}</td>
												<td>{{item.status}}</td>
											</tr>
										</tbody>
									</table>
									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center">
											<li class="page-item">
												<button ng-click="pager.first()" class="page-link">First</button>
											</li>
											<li class="page-item">
												<button ng-click="pager.prev()" class="page-link">Previous</button>
											</li>
											<li class="page-item"><span style="color: black;"
												class="page-link bg-primary">{{pager.page + 1}} of
													{{pager.count}}</span></li>
											<li class="page-item">
												<button ng-click="pager.next()" class="page-link">Next</button>
											</li>
											<li class="page-item">
												<button ng-click="pager.last()" class="page-link">Last</button>
											</li>
										</ul>
									</nav>
								</div>
								<div class="tab-pane fade" id="nav-profile" role="tabpanel"
									aria-labelledby="nav-profile-tab">
									<h4 class="card-title">Chi tiết đơn hàng <span ng-model="form.maDH"></span></h4>
									<div id="successMessage" style="color: red; display: none;"></div>
									<form>
										<div class="row">
													<div class="col">
														<span>ID Đơn hàng:</span> <input ng-model="form.id"
															type="text" class="form-control" placeholder="ID"
															disabled="true"><br> <span>Tên Người Đặt:</span> <input ng-model="form.account.fullname" type="text"
															class="form-control" placeholder="Tên Người Đặt" disabled="true"><br>
														<span>Số Điện Thoại: </span> <input ng-model="form.account.numberPhone"
															type="text" class="form-control"
															placeholder="Số Điện Thoại" disabled="true"><br>
                                                            <span>Địa Chỉ: </span> <input ng-model="form.addressReceive"
															type="text" class="form-control"
															placeholder="Địa Chỉ" disabled="true"><br>
													</div>
                                                    <div class="col">
                                                        <span>Ngày Tạo: </span> <input ng-model="form.createDate"
															type="date" class="form-control"
															placeholder="Giá sản phẩm" disabled="true"><br>
                                                            <span>Trạng Thái:</span><select
															ng-model="form.status" class="form-control">
															<option value="3">Chờ Xử Lý</option>
                                                            <option value="1">Đã Xác Nhận</option>s
                                                            <option value="2">Đã Thanh Toán</option>
                                                            <option value="4">Hủy Đơn Hàng</option>
														</select>
                                                    </div>
                                                    <hr>
                                                    <div>
                                                        <h3>Danh sách sản phẩm</h3>
                                                        <table class="table table-bordered" border-collapse="collapse">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Ảnh</th>
                                                                    <th scope="col">Tên sản phẩm</th>
                                                                    <th scope="col">Số lượng</th>
                                                                    <th scope="col">Giá</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in items">
                                                                    <td>{{item.price}}</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <p style="font-size: 30px; color: red;">Tổng giá: </p>
                                                    </div>
												<div>
													<hr>
													<div class="">
														<button ng-click="update()"
															class="btn btn-outline-success mx-2">
															<i class="bi bi-upload"></i> Update
														</button>
														<button ng-click="reset()"
															class="btn btn-outline-light mx-2">
															<i class="bi bi-x-circle"></i> Reset
														</button>
													</div>
												</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- apps -->
	<!-- apps -->
	<script th:src="@{/dist/js/app-style-switcher.js}"></script>
	<script th:src="@{/dist/js/feather.min.js}"></script>
	<script
		th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/dist/js/sidebarmenu.js}"></script>
	<!--Custom JavaScript -->
	<script th:src="@{/dist/js/custom.min.js}"></script>
	<!--This page JavaScript -->
	<script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
	<script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
	<script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
	<script
		th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
	<script
		th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
	<script
		th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
	<script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>
	<script th:src="@{/js/order.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>