<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng nhập</title>
	<link rel="stylesheet" th:href="@{/assets/css/login.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<div class="container" id="container">
		<div class="form-container login-container">
			<form class="form-lg" action="/login" method="post" >
				<h1>Đăng nhập</h1>
				<b th:if="${checkpass}" style="color:red"><i>Sai tài khoản hoặc mật khẩu.</i></b>
				
				<div class="form-control2">
					<label>Tên người dùng</label>
					<input path="username" type="text" class="" name="username" id="username" />
					<!--<small th:if="false" class="password-error-2">${messageUsername}</small>-->
				</div>
				
				<div class="form-control2">
					<label>Mật khẩu</label>
					<input type="password" class="" name="password" id="password" />
					<!--<small th:if="false" class="password-error-2">${messagePassword}</small>-->
					<!--hello-->
				</div>

				<div class="content">
					<div class="checkbox">
						<input type="checkbox" id="remember" name="remember" />
						<label for="remember">Ghi nhớ tài khoản</label>
					</div>
					<div class="pass-link">
						<a th:href="@{/forgotPassword}">Quên mật khẩu</a>
					</div>
				</div>
				
				<button type="submit" value="submit" style="font-size: small; font-weight: bold;">Đăng nhập</button>


				<div class="row m-1">
					<div class="" style="cursor: pointer;">
						<span> <img th:src="@{/assets/images/la-co-viet-nam.png}" width="25" alt=""> Tiếng Việt
						</span>
					</div>

					<div class="ml-3" style="cursor: pointer;">
						<span> <img th:src="@{/assets/images/co_my.png}" width="25" alt=""> English
						</span>
					</div>
				</div>
			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1 class="title">
						Amaterasu<br />
					</h1>
					<h1 class="title">
						Xin Chào<br />
					</h1>
					<button class="ghost" id="login">
						Đăng nhập <i class="fa-solid fa-arrow-left"></i>
					</button>
				</div>

				<div class="overlay-panel overlay-right">
					<h1 class="title"></h1>
					<p style="font-size: large; color: black;">Đăng ký, nếu bạn
						chưa có tài khoản</p>

					<a href="/register"><button class="ghost" id="register">
							Đăng ký <i class="fa-solid fa-arrow-right"></i>
						</button></a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>