<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Amaterasu Cosmetics - Sản Phẩm</title>
	<link rel="icon" type="image/x-icon" th:href="@{/assets/images/Amaterasu3_removebg.png}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js}"></script>
	<style type="text/css">
		.container.mt-5 {
			margin-top: 300px;
			display: flex;
			justify-content: flex-start;
		}

		.product-item {
			width: 300px;
			margin: 15px;
			padding: 15px;
			border: 1px solid #ccc;
			border-radius: 5px;
			float: left;
		}

		.product-item img {
			width: 100%;
			height: 200px;
			object-fit: cover;
			border-radius: 5px;
		}

		.product-item h3 {
			font-size: 20px;
			margin-top: 15px;
		}

		.product-item p {
			margin-top: 10px;
		}

		.product-item a {
			text-decoration: none;
			color: #000;
			font-size: 16px;
			margin-top: 10px;
		}
	</style>
</head>

<body>

	<span th:insert="~{User/common/header.html}"></span>

	<!-- content-->
	<div style="margin-top: 200px">
		<div class="container mt-5">
			<div class="row">
				<h3 th:if="${brand != null}" th:text="${brand.name + ' (' + productCount + ')'}"></h3>
				<div th:each="product : ${products}" class="product-item">
					<img th:src="@{'/assets/images/' + ${product.image}}" alt="${product.name}">
					<h6 class="product__name" style="margin-top: 5px" th:text="${product.name}"></h6>
					<h6 class="text-danger" style="margin-left: 70px;">Giá:
						<span class="formatted-price" th:text="${product.price}"></span>
						VNĐ
					</h6>
					<!-- Link đến trang chi tiết sản phẩm -->
					<button class="btn btn-danger" style="margin-left: 75px">
						<a th:href="@{'/detail/' + ${product.id}}">Xem chi tiết</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container mt-5"></div>

	<div class="container mt-5"></div>

	<span th:insert="~{User/common/footer.html}"></span>

	<script th:inline="javascript">
		$(document).ready(function () {
			// Lặp qua tất cả các phần tử có class là "formatted-price"
			$(".formatted-price").each(function () {
				// Lấy nội dung hiện tại của phần tử
				var price = $(this).text();
				// Định dạng giá thành dạng có dấu chấm
				var formattedPrice = parseFloat(price).toLocaleString("vi-VN");
				// Đặt lại nội dung của phần tử với giá đã được định dạng
				$(this).text(formattedPrice);
			});
		});
	</script>
	
	<script>
		const add_li_hover = (x) => $(x).addClass("nav-item__after");
		const remove_li_hover = (x) => $(x).removeClass("nav-item__after");
		const hide = () => $(".mega-content").addClass("d-none");
		const show = () => $(".mega-content").removeClass("d-none");

		const owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 4,
			loop: true,
			margin: 10,
		});

		const nextButton = document.querySelector('#nextButton');
		const carousel = document.querySelector('#carouselExampleIndicators');

		// Add a click event listener to the next button
		nextButton.addEventListener('click', () => {
			// Get the current carousel item
			const currentItem = carousel.querySelector('.carousel-item.active');

			// Get the next carousel item
			const nextItem = currentItem.nextElementSibling;

			// If there is a next carousel item, then display it
			if (nextItem) {
				carousel.querySelector('.carousel-indicators > .active').classList.remove('active');
				carousel.querySelector(`.carousel-indicators > li:nth-child(${nextItem.index + 1})`).classList.add('active');
				currentItem.classList.remove('active');
				nextItem.classList.add('active');
			}
		});
	</script>
</body>

</html>