<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đăng ký</title>
	<link rel="stylesheet" th:href="@{/assets/css/login.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<form action="/register" method="post" modelAttribute="acc">
		<div class="form-control">
			<label for="username">Tên người dùng</label>
			<input path="username" type="text" name="username" id="username" class="form-control" />
			<form path="username" style="font-size:15px; color:red;" />
		</div>
		<div class="form-control">
			<label for="password">Mật khẩu</label>
			<input path="password" type="password" id="password" name="password" />
			<errors path="password" style="font-size:15px; color:red;" />
		</div>
		<div class="form-control">
			<label for="cfmpassword">Xác nhận mật khẩu</label>
			<input onchange="register()" type="password" id="cfmpassword" name="cfmpassword" />

			<p id="messageCfmPassword">${messageCfmPassword}</p>
		</div>
		<div class="form-control">
			<label for="cfmpassword">Họ và tên</label>
			<input path="fullname" type="text" id="fullName" name="fullname" />
			<errors path="fullname" style="font-size:15px; color:red;" />
		</div>
		<div class="form-control">
			<label for="cfmpassword">Căn cước công dân</label>
			<input path="CCCD" type="text" class="form-control" name="CCCD" />
			<errors path="CCCD" style="font-size:15px; color:red;" />
		</div>
		<div class="form-control">

			<input type="radio" name="role" value="false" checked hidden="true" />
			<input type="radio" name="role" value="true" hidden="true" />
		</div>
		<div class="form-control">
			<input type="radio" name="activated" value="true" checked hidden="true" /> <input type="radio"
				name="activated" value="false" hidden="true" />
		</div>
		<div class="form-control">
			<label for="cfmpassword">Email</label>
			<input path="email" type="email" id="email" name="email" />
			<errors path="email" style="font-size:15px; color:red;" />
		</div>
		<button type="submit" value="submit">Đăng ký</button>
		<!--<button onclick="register()">Đăng ký</button>-->
	</form>

	<script>
		document.getElementById("messageCfmPassword").textContent = "";
		function register() {
			const pass = document.getElementById("password").value;
			const cfmpass = document.getElementById("cfmpassword").value;
			if (pass !== cfmpass) {
				document.getElementById("messageCfmPassword").textContent = "Mật khẩu xác nhận phải giống với mật khẩu.";
			} else {
				document.getElementById("messageCfmPassword").textContent = "";
			}
		}
	</script>
</body>

</html>