<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Amaterasu Cosmetics - Cửa hàng mỹ phẩm</title>
	<link rel="icon" type="image/x-icon" th:href="@{/assets/images/Amaterasu3_removebg.png}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js}"></script>
	<style type="text/css">
		.container mt-5 {
			margin-top: 500px;
		}
	</style>
</head>

<body>

	<span th:insert="~{User/common/header.html}"></span>

	<!-- content-->

	<div style="margin-top: 200px">
		<div class="container mt-5">
			<div class="row">
				<c:if test="${param.keyword != null}">
					<h3 class="text-center" style="color: #612f2c">Kết quả tìm
						kiếm: ${param.keyword}</h3>
					<h3 class="text-center" style="color: #612f2c"> ${message}</h3>
					<div class="row">
						<c:forEach var="item" items="${products}" varStatus="status">
							<div class="col-md-4">
								<a href="/user/views/detail/${item.id}"> <img
										src="/templates/assets/images/${item.image}" class="product-img"
										alt="${item.name}">
								</a>
								<fmt:formatNumber var="roundedPrice" value="${item.price}" type="number"
									maxFractionDigits="2" />
								<h6 class="text-danger" style="margin-left: 70px;">Giá:
									${roundedPrice} VNĐ</h6>
								<h6 class="product__name">${item.name}</h6>
							</div>
						</c:forEach>
					</div>
				</c:if>

				<!-- <c:forEach var="item" items="${items}" varStatus="status">
					<c:if test="${status.index <= 5}">

						<div class="col-md-4">
							<a href="/views/detail/${item.id}"> <img src="/templates/assets/images/${item.img}"
									class="product-img" alt="${item.tenSp}">
							</a>
							<c:if test="${item.price > 0}">
								<fmt:formatNumber var="roundedPrice" value="${item.price}" type="number"
									maxFractionDigits="2" />
								<div style="display: flex;">
									<div
										style="color: grey; font-weight: bold; margin-left: 140px; text-decoration: line-through;">
										${roundedPrice}
										VNĐ</div>
								</div>

								<fmt:formatNumber var="roundedPriceNew"
									value="${item.giaSp -(item.giaSp*item.discountedPrice/100)}" type="number"
									maxFractionDigits="2" />
								<p style="color: red; font-weight: bold; margin-left: 20px; text-align: center">
									&nbsp;${roundedPriceNew}VND</p>
								<h6 class="product__name">${item.tenSp}</h6>
							</c:if>
							<c:if test="${item.discountedPrice == 0 }">
								<fmt:formatNumber var="roundedPriceItem" value="${item.giaSp}" type="number"
									maxFractionDigits="2" />
								<p class="product__price" style="font-weight: bold;">&nbsp;${roundedPriceItem}VND</p>
								<h6 class="product__name">${item.tenSp}</h6>
							</c:if>
							<a href="/cart/add/${item.id}?discountedPrice=${item.giaSp - (item.giaSp * item.discountedPrice / 100)}"
								class="btn btn-primary"
								style="background-color: #EC6090; border: none;text-align: center;">Thêm vào giỏ
								hàng</a>
						</div>
					</c:if>


					</c:forEach> -->
			</div>
		</div>
	</div>




	<div class="container mt-5"></div>

	<div class="container mt-5"></div>

	<span th:insert="~{User/common/footer.html}"></span>

	<script>
		function add_li_hover(x) {
			$(x).addClass("nav-item__after");
		}

		function remove_li_hover(x) {
			$(x).removeClass("nav-item__after");
		}

		function hide() {
			$(".mega-content").addClass("d-none");
		}

		function show() {
			$(".mega-content").removeClass("d-none");
		}

		var owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 4,
			loop: true,
			margin: 10,

		});
	</script>
</body>

</html>