<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<aside class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<li class="sidebar-item"><a class="sidebar-link sidebar-link"
						href="/admin/index" aria-expanded="false"><i
							data-feather="home" class="feather-icon"></i><span
							class="hide-menu">Dashboard</span></a></li>
					<li class="list-divider"></li>
					<li class="list-divider"></li>
					<li class="nav-small-cap"><span class="hide-menu">Quản
							Lý</span></li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow"
						href="javascript:void(0)" aria-expanded="false"><i
							data-feather="file-text" class="feather-icon"></i><span
							class="hide-menu">Sản phẩm</span></a>
						<ul aria-expanded="false"
							class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/products"
								class="sidebar-link"> <span class="hide-menu"> Quản
										Lý Sản Phẩm </span></a></li>
						</ul></li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow"
						href="javascript:void(0)" aria-expanded="false"><i
							data-feather="file-text" class="feather-icon"></i><span
							class="hide-menu">Đơn Hàng</span></a>
						<ul aria-expanded="false"
							class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/orders"
								class="sidebar-link"><span class="hide-menu">Quản lý đơn hàng</span></a></li>
						</ul></li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow"
						href="javascript:void(0)" aria-expanded="false"><i
							data-feather="file-text" class="feather-icon"></i><span
							class="hide-menu">Thương Hiệu</span></a>
						<ul aria-expanded="false"
							class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/brands"
								class="sidebar-link"><span class="hide-menu">Quản lý
										thương hiệu </span></a></li>
						</ul></li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow"
						href="javascript:void(0)" aria-expanded="false"><i
							data-feather="file-text" class="feather-icon"></i><span
							class="hide-menu">Category</span></a>
						<ul aria-expanded="false"
							class="collapse  first-level base-level-line">

							<li class="sidebar-item"><a href="/admin/categories"
								class="sidebar-link"><span class="hide-menu"> Cập
										Nhật Category </span></a></li>
						</ul></li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow"
						href="javascript:void(0)" aria-expanded="false"><i
							data-feather="file-text" class="feather-icon"></i><span
							class="hide-menu">Tài Khoản</span></a>
						<ul aria-expanded="false"
							class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/listaccount"
								class="sidebar-link"><span class="hide-menu">Danh
										Sách Tài Khoản </span></a></li>
						</ul></li>
			</nav>
		</div>
		<!-- End Sidebar scroll-->
	</aside>

</body>

</html>