<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<aside class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<li class="sidebar-item"><a class="sidebar-link sidebar-link" href="/admin/index"
							aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
								class="hide-menu">Dashboard</span></a></li>
					<li class="list-divider"></li>
					<li class="list-divider"></li>
					<li class="nav-small-cap"><span class="hide-menu">Quản
							Lý</span></li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
							aria-expanded="false"><i class="bi bi-box"></i><span class="hide-menu">Sản Phẩm</span></a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/products" class="sidebar-link"> <span
										class="hide-menu"> Quản
										Lý Sản Phẩm </span></a></li>
						</ul>
					</li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
							aria-expanded="false"><i class="bi bi-card-checklist"></i><span class="hide-menu">Đơn
								Hàng</span></a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/processsingorders" class="sidebar-link"><span
										class="hide-menu">Đơn Hàng Chờ Xử Lý</span></a></li>
										<li class="sidebar-item"><a href="/admin/confirmedorder" class="sidebar-link"><span
											class="hide-menu">Đơn Hàng Đã Xác Nhận</span></a></li>
											<li class="sidebar-item"><a href="/admin/successorder" class="sidebar-link"><span
												class="hide-menu">Đơn Hàng Đã Thanh Toán</span></a></li>
												<li class="sidebar-item"><a href="/admin/cancelorder" class="sidebar-link"><span
													class="hide-menu">Đơn Hàng Đã Hủy</span></a></li>
						</ul>
					</li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
							aria-expanded="false"><i class="bi bi-browser-firefox"></i><span class="hide-menu">Thương
								Hiệu</span></a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/brands" class="sidebar-link"><span
										class="hide-menu">Quản Lý Thương Hiệu </span></a></li>
						</ul>
					</li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
							aria-expanded="false"><i class="bi bi-tags"></i><span class="hide-menu">Loại Sản Phẩm</span></a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">

							<li class="sidebar-item"><a href="/admin/categories" class="sidebar-link"><span
										class="hide-menu">Quản Lý Loại SP</span></a></li>
						</ul>
					</li>
					<li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
							aria-expanded="false"><i class="bi bi-person-circle"></i><span class="hide-menu">Tài
								Khoản</span></a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item"><a href="/admin/listaccount" class="sidebar-link"><span
										class="hide-menu">Danh Sách Tài Khoản </span></a></li>
						</ul>
					</li>
			</nav>
		</div>
		<!-- End Sidebar scroll-->
	</aside>

</body>

</html>