<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<body>
	<!-- header -->
	<header class="py-3 bg-white fixed-top border-bottom border-dark">
		<div class="d-flex container align-items-center justify-content-between">
			<div class="">
				<a th:href="@{/home}"> <img class="header__logo" th:src="@{/assets/images/Amaterasu3_removebg2.png}"
						height="90px" alt="">
				</a>
			</div>
			<nav class="header__menu">
				<ul class="nav">
					<li class="nav-item m-1"><a class="nav-link text-dark nav-item__after" th:href="@{/home}"
							style="font-weight: bold;">TRANG CHỦ</a></li>
					<li class="nav-item m-1" onmouseover="add_li_hover(this)" onmouseout="remove_li_hover(this)"><a
							class="nav-link text-dark" th:href="@{/brand}"
							style="font-weight: bold; color: #612f2c;">THƯƠNG
							HIỆU</a></li>
					<li class="nav-item m-1 position-relative header__item_3" onmouseover="add_li_hover(this), show()"
						onmouseout="remove_li_hover(this), hide()"><a class="nav-link text-dark"
							th:href="@{/listCategory}" style="font-weight: bold; color: #612f2c;">SẢN PHẨM <i
								class="fas fa-caret-down"></i></a>
						<div class="position-absolute container bg-white border-dark border mega-content d-none"
							style="z-index: 3; top: calc(100% + 29px); width: 500px; animation: Growth ease-in .3s;">
							<div class="row py-4 px-1">
								<div class="col-md-9">
									<div class="row lienket">
										<a th:href="@{/listCategory}">
											<h6 style="margin-left: 43px;">TRANG ĐIỂM - MAKEUP</h6>
											<h6 style="margin-left: 43px;">SON MÔI - LIPS</h6>
											<h6 style="margin-left: 43px;">CHĂM SÓC DA - SKINCARE</h6>
											<h6 style="margin-left: 43px;">DỤNG CỤ - TOOLS - BRUSHES</h6>
											<h6 style="margin-left: 43px;">NƯỚC HOA - PERFUME</h6>
										</a>
									</div>
								</div>
								<div class="col-md-3">
									<a href=""><img th:src="@{/assets/images/banner_menu_1.jpg}" alt=""
											height=160px></a>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item m-1" onmouseover="add_li_hover(this)" onmouseout="remove_li_hover(this)"><a
							class="nav-link text-dark" href="/searchOrder"
							style="font-weight: bold; color: #612f2c;">TRA CỨU ĐƠN HÀNG</a></li>
					<li class="nav-item m-1" onmouseover="add_li_hover(this)" onmouseout="remove_li_hover(this)"><a
							class="nav-link text-dark" href="/about" style="font-weight: bold;" color:#612f2c;>GIỚI
							THIỆU</a></li>
					<li class="nav-item m-1" onmouseover="add_li_hover(this)" onmouseout="remove_li_hover(this)"><a
							class="nav-link text-dark" href="/contact" style="font-weight: bold;" color:#612f2c;>LIÊN
							HỆ</a></li>
				</ul>
			</nav>
			<div class="row">
				<div class="search p-3 col-md-4 position-relative">
					<i class="fas fa-search icon-search"></i>
					<div class="position-absolute input-search">
						<form action="/searchByName" method="get">
							<input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm">
						</form>
					</div>
				</div>

				<div class="user p-3 col-md-4 position-relative">
					<i class="fas fa-user icon-user"></i>
					<div class="auth-form nav position-absolute">

						<ul th:if="${session.username != null}" class="navbar-nav m-auto w-100">
							<li class="nav-item"><a th:text="${session.username}" class="nav-link text-dark pl-1"
									th:href="@{/profile}"><img alt="" th:src="@{/imagesProfile/${ac.image}}"
										style="width: 50px; height: 50px;"></a></li>
							<li class="nav-item"><a class="nav-link text-dark pl-1" href="@"
									><i class="far fa-user-circle"></i>Lịch sử hóa đơn</a>
							</li>			
							<li class="nav-item"><a class="nav-link text-dark pl-1" href="/logout"
									><i class="bi bi-box-arrow-left"></i>Đăng xuất</a>
							</li>
						</ul>

						<ul th:if="!${session.username != null}" class="navbar-nav m-auto w-100">
							<li class="nav-item"><a class="nav-link text-dark pl-1" th:href="@{/register}"><i
										class="far fa-user-circle"></i> Đăng ký</a></li>
							<li class="nav-item"><a class="nav-link text-dark pl-1" th:href="@{/login}"><i
										class="far fa-user-circle"></i> Đăng nhập</a></li>
						</ul>

					</div>
				</div>
				<div th:if="${session.username != null}" class="bag p-3 col-md-4 position-relative">
					<a th:href="@{/cart}"><i class="fas fa-shopping-bag icon-bag"><sup th:text="${count}"></sup></i></a>
					<div th:if="${count == 0}" class="no_card position-absolute">
						<figure class="border border">
							<img th:src="@{/assets/images/no-cart.png}" alt="">
							<figcaption class="text-center bg-white p-2">Chưa có sản phẩm</figcaption>
						</figure>
					</div>
				</div>
				<div th:if="!${session.username != null}" class="bag p-3 col-md-4 position-relative">
					<a th:href="@{/login}"><i class="fas fa-shopping-bag icon-bag"><sup th:text="${count}"></sup></i></a>
					<div th:if="${count == 0}" class="no_card position-absolute">
						<figure class="border border">
							<img th:src="@{/assets/images/no-cart.png}" alt="">
							<figcaption class="text-center bg-white p-2">Chưa có sản phẩm</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>

	</header>
	<script>
		
	</script>
</body>

</html>